.board{
  display: flex;
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  border-radius: 10px;
  background-color: lightgrey;
  border-bottom: 1px solid #ccc;
  margin: 10px;
  padding:4px;
  flex-grow: 1;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 30px;
}
