/*follow*/
.follow {
    
}


/*following*/
.following {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.following:focus,
.following.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.following:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.following:active,
.following.active,
.open > .dropdown-toggle.following {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.following:active:hover,
.following.active:hover,
.open > .dropdown-toggle.following:hover,
.following:active:focus,
.following.active:focus,
.open > .dropdown-toggle.following:focus,
.following:active.focus,
.following.active.focus,
.open > .dropdown-toggle.following.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.following:active,
.following.active,
.open > .dropdown-toggle.following {
  background-image: none;
}
.following.disabled:hover,
.following[disabled]:hover,
fieldset[disabled] .following:hover,
.following.disabled:focus,
.following[disabled]:focus,
fieldset[disabled] .following:focus,
.following.disabled.focus,
.following[disabled].focus,
fieldset[disabled] .following.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.following .badge {
  color: #5cb85c;
  background-color: #fff;
}