#results{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.emptyState{
    font-size: 7em;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.emptyStateTxt{
    width: 100%;
    font-size: 3em;
    text-align: center;
}

.userPost{
    min-width: 200px;
    max-width: 400px;
    border-radius: 10px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    margin: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-self: center;
}

.userPostImg{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
}

.userPostDescription, .userPostTopic{
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
}

.userPostImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userPostImg .dropdown .dropdown-menu{
    top: 15px;
    left: -125px;
}

.userPostInfo{
    display: flex;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.userInfo{
    display: flex;
}

.userInfo img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.likes{
    display: flex;
    flex-direction: row;
    width: 50px;
}

.likeBtn{
    display: flex;
    width: 30px;
    height: 30px;
}

.likeBtn img{
    width: 30px;
    height: 30px;
}


.likeAmount {
    text-align: center;
    padding: 5px;
}

.loadMore{
    padding: 0 25%;
    margin-top: 20px;
}


.btn-topic-img, .btn-topic-img:visited{
    background-color: rgba( 255, 255, 255, 0.5);
    border-radius: 10px 0px 10px 0px;
    height: 35px;
    text-decoration: none;
}

.btn-topic-img:hover{
    background-color: rgba( 255, 255, 255, 0.7);
    border-radius: 10px 0px 10px 0px;
    text-decoration: none;
}

.btn-topic-img:active{
    background-color: rgba( 255, 255, 255, 0.5);
    border-radius: 10px 0px 10px 0px;
    text-decoration: none;
}

.input-group .profile-comment img{
    display: block;
    width:20px;
    height:20px;
    border-radius: 50%;
}

div.modal-body div.post img{
    width: 100%;
}

div.modal .modal-topics{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.modal-topics p, .modal-topics label, .modal-topics input, .modal-topics select{
    margin-right:10px;
}

.btn-pin{
  height:15px;

}
