a:link, a:visited, a:hover, a:active, a:focus, button, button:active, button:focus{
    outline: none;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#results{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.emptyState{
    font-size: 7em;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.emptyStateTxt{
    width: 100%;
    font-size: 3em;
    text-align: center;
}

.userPost{
    min-width: 200px;
    max-width: 400px;
    height: 250px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    margin: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-self: center;
    position: relative;
}

.userPostImg{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

a.userPostLinkModal:link,
a.userPostLinkModal:visited,
a.userPostLinkModal:hover,
a.userPostLinkModal:active{
    width: 100%;
    height: 200px;
    cursor: zoom-in;
    text-decoration: none;
    position: absolute;
    z-index: 3;
}

.userPostHover{
    display: block;
    visibility: hidden;
    width:100%;
    height:200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.userPost:hover .userPostHover{
    visibility: visible;
}

.userPost h3{
    color: white;
    text-align: center;
    padding-top:50px;
}

.userPost h4 small{
    color: white;
    text-align: center;
}

.userPost h4{
    position: absolute;
    bottom: 0;
    left: 5px;
}

.userPost a.topicDiv:link,
.userPost a.topicDiv:visited,
.userPost a.topicDiv:hover,
.userPost a.topicDiv:active{
    text-decoration: none;
    z-index: 12;
    position: absolute;
    top: 5px;
    right: 45px;
    color: white;
}

.userInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 25px;
}

.userInfo.userInfoPreview{
    position: absolute;
    bottom: 5px;
    box-sizing: border-box;
}

.userInfo img{
    border-radius: 50%;
    margin: 0 5px;
}

.userPost .dropdown{
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
}

.userPost #dropdownMenu1{
    width: 35px;
    height: 35px;
}

.userPost .dropdown .dropdown-menu{
    top: 40px;
    left: -125px;
}

.likes{
    display: flex;
    flex-direction: row;
    width: 50px;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
}

.likeBtn{
    display: flex;
    width: 30px;
    height: 30px;
}

.likeBtn img{
    width: 30px;
    height: 30px;
}

.likeAmount {
    text-align: center;
    padding: 5px;
}




/* - - - - MODAL POST - - - - - */
.modal .navbar-inverse{
    color: white;
}

.input-group .profile-comment img{
    display: block;
    width:20px;
    height:20px;
    border-radius: 50%;
}

div.modal-body div.post img{
    width: 100%;
}

div.modal .modal-topics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.panel-description-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



}
.modal-privacy{
  margin-bottom: 15px;
}

