body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.white {
    color: white;
}

.profile-pic{
    display: block;
    width: 20px;
    height: 20px;
    /*-webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;*/
}

.error{
  margin-bottom: 5px;
  color:red;
}

#container{
    display: block;
}

#container img{
    display: none;
}

/*.bold{
    font-weight: bold;
    text-transform: uppercase;
}*/

@media screen and (min-width: 1015px) {
    #container .input-group input.form-control{
        display: block;
        width: 80%;
    }

    #container img{
        display: block;
        width: 20%;
        height: 20%;
        /*border-radius: 50%;*/
    }

    #container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.container-search {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container-search {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container-search {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container-search {
        width: 1170px;
    }
}