body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.white {
    color: white;
}

.profile-pic{
    display: block;
    width: 20px;
    height: 20px;
    /*-webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;*/
}

.error{
  margin-bottom: 5px;
  color:red;
}
