body{
    font-family: sans-serif;
    text-align: center;
    background-image: url("../images/bg.jpg");
    background-size: cover;
}

h1{
    color: darkred;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 3em;
}


.signup{
    display: block;
    width: 70%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 5em auto;
    padding:25px;
    background-color: darkred;
}

.signup label{
    color: white;
    display: block;
    text-align: left;
}

.signup div{
    margin: 25px auto;
}

.signup input{
    display: block;
    width:95%;
    margin:0px auto;
    padding:15px 0px;
    color: white;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-color: darkred;
    border: 0px solid darkred;
    border-bottom: 1px solid white;
}

.signup input[type=submit] {
    display: block;
    width:150px;
    margin: 50px auto;
    background-color: gainsboro;
    color: black;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    cursor: pointer;
}

.flex{
    display: flex;
    flex-direction: row;
}

.signup a:link,
.signup a:visited,
.signup a:hover,
.signup a:active{
    text-decoration: none;
    color: white;
}

.signup a:hover{
    text-decoration: underline;
}

.signup a:active{
    color: grey;
}

@media screen and (min-width: 500px) {
    .signup{
        width: 350px;
    }
}

@media screen and (min-width: 650px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .container .head{
        display: block;
        width:350px;
        margin: 5em auto;
    }
}