header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: darkred;
    padding:15px;
}

header h1{
    color: white;
    margin-top: 0.5em;
    font-family: 'Nova Oval', cursive;
}

header img.profilepicture{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header .profile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header a.logout:link,
header a.logout:visited,
header a.logout:hover,
header a.logout:active{
    text-decoration: none;
    color: white;
    padding:15px;
    font-family: 'Nova Oval', cursive;
}

header a.logout:hover{
    color: gainsboro;
}