body{box-sizing: border-box;}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background-color: #F0F0F0;
}

.h1{
    width: 100%;
}
.topic-div, .userTopic{
    display: flex;
    flex-grow: 1;
    align-self: center;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 2em;
    transition: opacity 0.5s;
}

label.active{
    opacity: 0.5;
}

.topic-div:hover{
    color: white;
    opacity: 0.5;
}

.topic-div.focus{
    color: white;
}